body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    scroll-behavior:smooth;
}
#page0,#page1,#page2,#page3,#page4,#page5,#page6,#page7,#page8,#page9,#page10,#page11,#page12{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.content{
    width: 100%;
    height: 100%;
    background-color: grey;
}
.mp{
    display: grid;
    grid-template-columns: 70% 30%;
    background-image: url('../Image/Page_main.png');
    background-size:100% 100%;
}
.mp2-1{
    height: 70vh;
}
.mp2-2, .mp2-3{
    height: 5vh;
}
.center-text{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.font-Sl{
    font-size: 2.5em;
    color: white;
}

.cp1{
    display: grid;
    grid-template-columns: 50% 50%;
}
.p1-1,.p1-2,.p2-1{
    height: 90vh;   
}
.empty-con{
    position: relative;
    background-image: url('../Image/emptycontent.png');
    background-size:100% 100%;
    width: 80%;
    height: 80%;
    left:10%;
    top:10%;
}
.p1-3, .p2-2{
    height: 10vh;
}
.progress-bar{
    position: relative;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    background-color: black;
}
.progression{
    height: 100%;
    width: 40%;
    background-color: greenyellow;
}

.cp2{
    display: grid;
    grid-template-columns: 100%;
}
.p2-2{
    display: grid;
    grid-template-columns: 50% 50%;
}
