body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    scroll-behavior:smooth;
}
#page0,#page1,#page2,#page3,#page4,#page5,#page6,#page7,#page8,#page9,#page10{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
#main{
    position: relative;
    width:100%;
    height:100%;
    /* background:black; */
    background-image: url('Image/Page_main.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size:100% 100%;
}
  
div#content{
    position: relative;
    width:100%;
    height:100%;
}
.c10{
    background-image: url('Image/background_10.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size:100% 100%;
    display: grid;
    grid-template-columns: 50% 50%;

}
#sec10-1, #sec10-2{
    position: relative;
    width:100%;
    height:100%;
}

#handheld,#console{
    display: grid;
    grid-template-columns: 100%;
}
#hh1, #hh2{
    position: relative;
    height: 49vh;
}
#hh1-image{
    position: relative;
    width:70%;
    height: 100%;
    background-image: url('Image/001_handheld.png');
    background-size:100% 100%;
    margin-left: 10%;
    margin-top: 5%;
    transition: transform .2s;
}
#hh1-image:hover{
    transform: scale(1.1);
}
#cs1, #cs2{
    position: relative;
    height: 45vh;
}
#page-bar{
    height: 10vh;
}
#cs2-image{
    position: relative;
    width:40%;
    height: 90%;
    background-image: url('Image/002_console.png');
    background-size:100% 100%;
    margin: auto;
    transition: transform .2s;
}
#cs2-image:hover{
    transform: scale(1.1);
}
#hh2{
    visibility: hidden;
    position: relative;
    width: 50%;
    margin-left: 15%;
    background-image: url('Image/emptycontent.png');
    background-size:100% 100%;
}
#cs1{
    visibility: hidden;
    position: relative;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 30%;
    background-image: url('Image/emptycontent.png');
    background-size:100% 100%;
}

.c9{ background:violet;}
#sec9-0{
    position: relative;
    width:100%;
    height:5vh;
}
#sec9-1{
    position: relative;
    width:100%;
    height:85vh;
}
#tabshow{
    position: relative;
    width:90%;
    height:90%;
    padding-left: 5%;
    padding-right: 5%;
}
#game1{
    position: relative;
    width:100%;
    height:100%;
    background-image: url('Image/emptycontent.png');
    background-size:100% 100%;
}

#game2{
    position: relative;
    width:100%;
    height:100%;
    background-image: url('Image/emptycontent.png');
    background-size:100% 100%;
}

.tabbar {
    position: relative;
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 100%;
    padding: 12px 12px;
  }
  
  /* Style the buttons inside the tab */
  .tabbar button {
    position: relative;
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tabbar button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tabbar button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    position: relative;
    float: left;
    padding: 12px 12px;
    border: 1px solid #ccc;
    width: 75%;
    border-left: none;
    height: 100%;
  }

#sec9-2{
    position: relative;
    width:100%;
    height:10vh;
    margin-top: 1vh;
}






.c1{ background:orangered;}
.c2{ background:yellow;}
.c3{ background:greenyellow;}
.c4{ background:green;}
.c5{ background:skyblue;}
.c6{ background:blue;}
.c7{ background:blueviolet;}
.c8{ background:purple;}
/* .c9{ background:violet;} */
/* .c10{ background:palevioletred;} */

